<!
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Archived</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col">
            <h2> Archived Tariffs</h2>
            <table class="table table-bordered table-dark">
                {% for item in result %}
                <tr>
                    <td><h2>{{ item.name }}
                        {% if item.hit == True %}
                        <p>HIT!</p>
                        {% endif %}
                    </h2>
                        <p><span class="display-1">{{item.price}}</span>/{{ item.price_period }}</p>
                    </td>
                    <td><h2>{{item.gb}} GB</h2></td>
                    <td><h2>{{item.minutes}} Minutes</h2></td>
                    <td>
                        {% if item.gb_unlim == None %}
                        <h2>No unlim for social media</h2>
                        {% else %}
                        <h2> Unlim for {{ item.gb_unlim }}</h2>
                        {% endif %}
                    </td>
                    <td>
                        {% if item.minutes_unlim_tele2 == True %}
                        <h2>No Limit For Tele2 Calls</h2>
                        {% else %}
                        <h2></h2>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
</body>
</html>
